
graph
{
    fill-color : DarkSlateGrey;
}

node {
    size : 15px;
    fill-mode : plain;
    fill-color: DarkGoldenRod;
    text-color : Azure;
    text-size: 12;
    text-alignment : at-left;
    text-background-color : #5F9EA080;
    text-background-mode : rounded-box;

}

edge 
{
    shape : line;
    fill-color: Azure;
    text-color : Azure;
    text-size: 12;
    text-alignment : along;
    text-background-color : #5F9EA080;
    text-background-mode : rounded-box;

}

edge.marked {
	fill-color : DarkOrange;
}

node.marked {
	fill-color : MediumSpringGreen;
}

sprite {
	shape: box;
	size: 15px, 15px;
	fill-mode: image-scaled;
	fill-image: url('exclamation.png');
}

